<app-header></app-header>

<div class="section twinkle">
    <div class="item-1 item">
      <app-admin-dashboard></app-admin-dashboard>
    </div>

    <div class="item-2 item">
      <div class="section">
        <h1>Thống kê dữ liệu</h1>
        <p>Dưới đây là các thống kê dữ liệu sơ bộ </p>     
        <button class="btn btn-gradient" type="button" (click)="exportAllChartsPDF()">Export All Charts as PDF</button>
      </div>
    </div>

    <div class="item-3 item">
      <h2>Categories Available</h2>
      <canvas id="pieChart" class="canvas-chart" [style.height.px]="canvasHeight" [style.width.px]="canvasWidth"></canvas>
    </div>

    <div class="item-4 item">
        <h2>Brands Available</h2>
        <canvas id="pieChart2" class="canvas-chart" [style.height.px]="canvasHeight" [style.width.px]="canvasWidth"></canvas>
    </div>

    <div class="item-5 item">
      <h2>Order status statistics</h2>
      <canvas id="pieChart3" class="canvas-chart" [style.height.px]="canvasHeight" [style.width.px]="canvasWidth"></canvas>
    </div>

    <div class="item-6 item">
      <h2>Price range statistics</h2>
      <canvas id="pieChart4" class="canvas-chart" [style.height.px]="canvasHeight" [style.width.px]="canvasWidth"></canvas>
    </div>

    <div class="item-7 item">
      <h2>Sales Revenue Statistics</h2>
      <canvas id="barChart3"></canvas>
    </div>  

    <div class="item-8 item">
      <h2>Sizes Available</h2>
      <canvas id="barChart2"></canvas>
    </div> 

    <div class="item-9 item">
      <h2>Products Available</h2>
      <canvas id="barChart"></canvas>
    </div>  
</div>

<app-footer></app-footer>
  
    