.section {
  height: 424vh;
  margin-top: 180px;
}

.item {
  // background-color: blue;
  // border: 1px solid grey;
  min-height: 50px;
  border-radius: 20px;
}

.section {
  display: grid;
  grid-template-columns: 300px 555px 555px;
  grid-template-rows: 200px 500px 500px 660px 660px 660px;
  column-gap: 40px;
  row-gap: 20px;
  grid-template-areas: 
  "dashboard-tabs information information"
  "dashboard-tabs catergories brands"
  "dashboard-tabs order-status price"
  "dashboard-tabs sales-revenue sales-revenue"
  "dashboard-tabs sizes sizes"
  "dashboard-tabs products products"
}

.item-1 {
  grid-area: dashboard-tabs;
}

.item-2 {
  grid-area: information;
  height: 100%;
}

.item-2 .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--clr-neon);
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
  justify-content: center;
}


.item-2 .section h1,
p,
button {
  color: white;
  margin-bottom: 0px;
}

.item-2 .section button {
  border: 3px solid orange;
  border-radius: 20px;
  width: 200px;
  height: 50px;
}

.item-2 .section button:hover {
  font-weight: bold;
  color: orange;
  width: 220px;
  transition: 0.1s linear;
}





.item-3,
.item-4,
.item-5,
.item-6 {
  display: flex;
  height: 500px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;
  background: white;
  box-shadow: 0 8px 16px #dce1e1;
}

.item-3 {
  grid-area: catergories;
}

.item-3 h2 {
  color: #ff022c;
  padding: 18px 0px;
}


.item-4{
  grid-area: brands;
}

.item-4 h2 {
  color: #ff022c;
  padding: 18px 0px;
}

.item-5 {
  grid-area: order-status;
}

.item-5 h2 {
  color: #ff022c;
  padding: 18px 0px;
}

.item-6 {
  grid-area: price;
}

.item-6 h2 {
  color: #ff022c;
  padding: 18px 0px;
}


.item-7 {
  grid-area: sales-revenue;
}

.item-7,
.item-8,
.item-9 {
  grid-area: sales-revenue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 8px 16px #dce1e1;
  height: 100%;
  width: 100%;
}

.item-7, .item-8, .item-9 h2 {
  color: #ff022c;
  padding: 18px 0px;
}

.item-8 {
  grid-area: sizes;
}

// .item-8 h2 {
//   color: #ff022c;
//   padding: 18px 0px;
// }

.item-9 {
  grid-area: products;
}

.twinkle{
    animation: slide-in 0.5s ease-in-out, fade-in 0.5s ease-in-out;
  }
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

