<div *ngIf="imagesnicexu && imagesnicexu.length > 0" class="carousel-container edit-overall">
    <img *ngFor="let image of imagesnicexu; let i=index"
    [src]="image.imageSrc" [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedIndex === i}"
    [style.object-position]="image.objectPosition"
    class="fade">

    <ng-container *ngFor="let item of images; let i = index">
        <ng-container *ngIf="item.contentType === 'image'">
          <img
            *ngIf="selectedIndex === i"
            [src]="item.imageSrc"
            [alt]="item.imageAlt"
            [ngClass]="{'image-active': selectedIndex === i}"
            class="fade"
            [style.object-position]="item.objectPosition"
          />
        </ng-container>
        <ng-container *ngIf="item.contentType === 'video'">
          <div (click)="playVideo(i)">
            <video class="animation-video"
              *ngIf="selectedIndex === i"
              autoplay
              [muted]="true"
              [src]="item.videoSrc"
              type="video/mp4"
            >
              Your browser does not support the video tag.
            </video>
          </div>
        </ng-container>
      </ng-container>

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of imagesnicexu; let i=index" class="dot"
        [ngClass]="{'active': selectedIndex === i}"
        (click)="selectImage(i)">
        </span>
    </div>
</div>

<!-- Awesome Carousel -->
<!-- <app-carousel [images]="imagesnicexu"></app-carousel>  -->


<!-- Auto Slide -->
<!-- <app-carousel [images]="imagesnicexu" [autoSlide]="true"></app-carousel>  -->

<!-- Auto slide with custom interval -->
<!-- <app-carousel [images]="imagesnicexu" [autoSlide]="true" [slideInterval]="2000"></app-carousel>  -->


<!-- Hide dot indicators -->
<!-- <app-carousel [images]="imagesnicexu" [indicators]="false"></app-carousel> -->


<!-- Hide button controls
<app-carousel [images]="imagesnicexu" [indicators]="false"></app-carousel> -->

<!-- Three function include: hide button controls, auto slide and custom interval -->
<!-- <app-carousel [images]="imagesnicexu" [controls]="false" [autoSlide]="true" [slideInterval]="3000"></app-carousel>  -->