.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    width: 100%;
    background: rgba(128, 128, 128, 0.3);
    margin: -120px 0px 0px!important;
    padding: 0px!important;
    z-index: 700;
}

.overlay::before {
    content:"";
    position: absolute;
    height: 400px;
    left: 25%;
    width: 50%;
    top: 26%;
    border-radius: 30px;
    background: #edf1f4;
}


.section-loader .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-loader .loading .text {
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.section-loader .loading .loader {
    display: flex;
    flex-direction: row;
}

.section-loader .loading .loader div {
    position: relative;
    width: 40px;
    height: 200px;
    border-radius: 40px;
    margin: 20px;
    overflow: hidden;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05, #edf1f4));
    border: 2px solid #edf1f4;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
                -15px -15px 20px #fff,
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.section-loader .loading .loader div::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 40px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
                -15px -15px 20px #fff,
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.section-loader .loading .loader div::after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,0.2),
                0 420px 0 400px #2196f3;
    animation: animate-loader 2.5s ease-in-out infinite;
    transform: translateY(160px);
    animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate-loader
{
    0%
    {
    transform: translateY(160px);
    filter: hue-rotate(180deg);
    }
    50%
    {
    transform: translateY(0px);
    }
    100%
    {
    transform: translateY(160px);
    filter: hue-rotate(0deg);
}
}
