<app-header></app-header>
<div class="container edit-overall twinkle">
    <div class="confirmation-container">
        <h1>Lịch sử các đơn hàng</h1>
        <p>Dưới đây là thông tin chi tiết về các đơn hàng của bạn</p>     
    </div>
    <div class="row">
        <table *ngFor="let order of getOrder" class="mb-3 twinkle">
            <thead>
                <tr (click)="toggleBodyAndFooter(order.id)" style="cursor: pointer;">
                    <div style="background-color: rgb(101, 102, 172);">
                        <th scope="col" class="text-start-first">Đơn hàng có Order ID: {{order.id}}</th>
                        <th scope="col" class="text-start-second">Ngày đặt hàng: {{order.orderDate}} </th>
                        <th scope="col" class="text-start-third">Ngày giao hàng: {{order.shippingDate}}</th>
                    </div>
                </tr>
            </thead>
            <tbody *ngIf="selectedOrder === order.id">
                <div style="color: white;">
                    <h2>Thông tin người nhận</h2>
                    <p><span>Tên người nhận:</span> {{order.fullName}}</p>
                    <p><span>Email:</span> {{order.email}}</p>
                    <p><span>Số điện thoại:</span> {{order.phoneNumber}}</p>
                    <p><span>Địa chỉ:</span> {{order.address}}</p>
                    <p><span>Ghi chú:</span> {{order.note}}</p>
                    <p><span></span>Phương thức thanh toán: {{order.paymentMethod}}</p>
                    <p><span>Phương thức vận chuyển:</span> {{order.shippingMethod}}</p>
                    <p><span>Tình trạng hiện tại:</span> {{order.status}}</p>
                </div>
                <hr>
                <h2>Sản phẩm đã đặt hàng</h2>
                <table>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col">Size</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
                <tr *ngFor="let orderDetail of order.orderDetails">
                    <td>
                        <div class="product-info" (click)="onProductClick(orderDetail.product.id)">
                            <img [src]="orderDetail.product.thumbnail" alt="Product Image" class="product-image">
                            <span class="product-name">{{orderDetail.product.name}}</span>
                        </div>
                    </td>
                    <td>{{orderDetail.size}}</td>
                    <td>{{orderDetail.numberOfProducts}}</td>
                    <td>${{orderDetail.productPrice | number:'1.2-2'}}</td>
                    <td>${{orderDetail.productPrice * orderDetail.numberOfProducts | number:'1.2-2'}}</td>
                </tr>
            </table>
            </tbody>
            <tfoot *ngIf="selectedOrder === order.id">
                <tr>
                    <td colspan="4" class="text-end">
                        <h4 class="header-text">Tổng Đơn Hàng: ${{order.totalMoney | number:'1.2-2'}}</h4>
                    </td>
                </tr>
            </tfoot>
        </table>  
    </div>    
</div>
<app-footer></app-footer>
