.footer {
    position: relative;
    z-index: 1000;
}

.footer-description {
    color: rgb(173, 178, 203);
    // color: white;
}

.footer .container p {
    font-size: 18px;
    margin: 40px 0px;
}
