.container {
  height: 100%;
  padding: 0px 0px;
  margin-top: 160px;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate-bubbles 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}

@keyframes animate-bubbles
{
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
  {
    transform: translateY(-10vh) scale(1);
  }
}

.text-animation .content {
  position: absolute;
  z-index: 6;
  width: 95%;
  height: 100%;
  text-align: center;
  padding: 11px;
  border-radius: 15px;
}

.text-animation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10% 0px;
  background-color: #000;
  height: 120px;
  width: 80%;
  border-radius: 70px;
}


.text-animation h2 {
  position: relative;
  font-size: 4em;
  font-weight: 900;
  color: #fff;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 0px;
}

.text-animation h2:before {
  content: "";
  position: absolute;
  left: 0;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
  animation: animate-text 8s linear infinite forwards;
}

@keyframes animate-text
{
  0%, 10%, 100%
  {
    left: 100%;
  }
  90%, 80%
  {
    left: 0%;
  }
}

.text-animation h2 span {
  color: #ff022c;
}

// .text-animation video {
.text-animation .right-to-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: screen;
}

.profile-card {
  width: 60%;
  margin-left: 20%;
  height: 81vh;
  background: linear-gradient(135deg, #e3dbf6, #a99bf9);
  display: flex;
  border-radius: 15px;
  position: relative;
  z-index: 100;
  margin-top: 30px;
}

.profile-card .profile-1 {
  margin-left: 14px;
}


.card {
  width: 350px;
  height: 600px;
  margin: 15px 15px 15px;
  perspective: 1000px;
  border-radius: 15px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.back {
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  backface-visibility: hidden;
}

.front img {
  object-position: 0px -23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  object-fit: cover;
  width: 350px;
  height: 100%;
  border-radius: 15px;
}

.front .content {
  position: absolute;
  bottom: 60px;
  left: 30px;
}

.front .content h2 {
  color: #ff6f3c;
  font-weight: bold;
}

.front .content p {
  color: #ccc;
  font-size: 13px;
  font-weight: bold;
  color: black;
}
.front .content button {
  width: 130px;
  border: 4px solid var(--clr-neon);
  background: transparent;
  border-radius: 50px;
  padding: 8px 20px;
  cursor: pointer;
  color: #240747;
  font-weight: bold;
}

.back {
  background: #fff;
  color: #333;
  padding: 20px 40px;
  transform: rotateY(180deg);
}

.back h1 {
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 10px;
}

.back h1 span {
  font-weight: 400;
}

.back p {
  font-size: 14px;
}

.back p span {
  font-weight: 600;
}

.back img {
  width: 120px;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 30px;
}


.col {
  flex: 1;
  text-align: center;
  color: #555;
  font-size: 12px;
  position: relative;
}

.col h2 {
  font-size: 20px;
}

.col::after {
  content: "";
  width: 1.5px;
  height: 20px;
  background: #7800ad;
  position: absolute;
  top: 5px;
  right: 0;
}

.col:last-child::after {
  display: none;
}

.col p {
  margin-top: 5px;
}

.back button {
  background: #7800ad;
  width: 40%;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 8px 25px;
  border-radius: 30px;
  font-size: 14px;
  margin-right: 15px;
  box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
}

.back a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.back a img {
  width: 150%;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}


  .twinkle{
    animation: slide-in 0.5s ease-in-out, fade-in 0.5s ease-in-out;
}

@keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.box-father {
  text-align: center;
}

.box-father a {
  margin: 40px 80px;
}

.filter-button {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  font-size: 2rem;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
  0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: background-color 100ms linear;
}

.filter-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: 0.7;
}

.button-before-hidden::before {
  display: none;
}

.filter-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.filter-button:hover::before,
.filter-button:focus::before {
  opacity: 1;
}

.filter-button:hover::after,
.filter-button:focus::before {
  opacity: 1;
}

.water {
  width: 60%;
  margin-left: 20%;
  height: 700px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eff0f4;
  border-radius: 100px;
}

.water .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 60px;
  padding: 0px 0px;
  margin-top: 0px;
}

.water .container .drop {
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
  25px 35px 20px rgba(0, 0, 0, 0.05),
  25px 30px 30px rgba(0, 0, 0, 0.05),
  inset -20px -20px 25px rgba(225, 225, 225, 0.9);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.water .container .drop:nth-child(1) {
  border-radius: 35% 65% 32% 68% / 45% 38% 62% 55%;
}

.water .container .drop:nth-child(2) {
  border-radius: 30% 70% 70% 30% / 75% 28% 72% 25%; 
}

.water .container .drop:nth-child(3) {
  border-radius: 11% 89% 44% 56% / 85% 61% 39% 15%;
}

.water .container .drop:nth-child(4) {
  border-radius: 80% 20% 11% 89% / 26% 23% 77% 74%;
}

.water .container .drop:hover {
  border-radius: 50%;
  width: 320px;
  height: 320px;
}

.water .container .drop::before {
  content:"";
  position: absolute;
  top: 15px;
  left: 50px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}


.water .container .drop::after {
  content:"";
  position: absolute;
  top: 50px;
  left: 90px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}

.water .container .drop .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
  gap: 15px;
}

.water .container .drop .content h2 {
  position: relative;
  width: 80px;
  height: 80px;
  background: #eff0f4;
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
  inset -2px -5px 10px rgba(255, 255, 255, 1),
  15px 15px 10px rgba(0, 0, 0, 0.05),
  15px 10px 10px rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: var(--clr);
  transition: 0.4s linear;
}

.water .container .drop .content h2:hover {
  font-weight: bold;
  transition: 0.4s linear;
  font-size: 40px;
  width: 90px;
  height: 90px;
}

.water .container .drop .content p {
  font-size: 20px;
  color: (--clr);
  font-weight: bold;
  transition: 0.4s linear;
}

.water .container .drop .content p:hover {
  color: #e43a19;
  transition: 0.4s linear;
  font-size: 30px;
}

.water .container .drop .content a {
  position: relative;
  padding: 10px 25px;
  background: var(--clr);
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.025);
  opacity: 0.75;
  transition: 0.5s;
}

.water .container .drop .content a:hover {
  opacity: 1;
  // font-weight: bold;
}


.water .container .drop .content a::before {
  content:"";
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}






