<div class="dashboard-sidebar">
    <!-- Add your dashboard components here -->
    <ul>
      <li routerLink="/admin/panel" routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa fa-pie-chart"></i><a>Trang quản trị</a>
        </div>
      </li>
      <li  routerLink="/admin/order-confirm/pending"routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa-solid fa-cart-shopping"></i><a>Quản lý đơn hàng</a>
        </div>
      </li>

      <li routerLink="/admin/list-categories" routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa-solid fa-gift"></i><a>Quản lý thể loại</a>
        </div>
      </li>

      <li routerLink="/admin/list-customers" routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa-regular fa-user"></i><a>Quản lý khách hàng</a>
        </div>
      </li>


        <li (click)="toggleSubMenu1()" routerLinkActive="active">
          <div class="menu-item  manage-products">
            <div class="logo">
              <i class="fa-solid fa-ghost"></i><a>+ Quản lý tài khoản</a>
            </div>
            <ul *ngIf="subMenuVisible1">
              <li routerLink="/admin/list-users" routerLinkActive="active-link-child"><a>- Chỉnh sửa tài khoản</a></li>
              <li routerLink="/admin/edit-users" routerLinkActive="active-link-child"><a>- Thêm mới tài khoản</a></li>
            </ul>
          </div>
        </li>


      <li (click)="toggleSubMenu2()" routerLinkActive="active">
        <div class="menu-item  manage-products">
          <div class="logo">
            <i class="fa-solid fa-truck-fast"></i><a>+ Quản lý nhà cung cấp</a>
          </div>
          <ul *ngIf="subMenuVisible2">
            <li><a routerLink="/admin/list-providers" routerLinkActive="active-link-child">- Chỉnh sửa nhà cung cấp</a></li>
            <li><a routerLink="/admin/edit-providers" routerLinkActive="active-link-child">- Thêm mới nhà cung cấp</a></li>
          </ul>
        </div>
      </li>

      <li (click)="toggleSubMenu()" routerLinkActive="active" >
        <div class="menu-item manage-products">
          <div class="logo">
            <i class="fa-solid fa-inbox"></i><a>+ Quản lý sản phẩm</a>
          </div>
          <ul *ngIf="subMenuVisible">
            <li><a routerLink="/admin/list-products" routerLinkActive="active-link-child">- Chỉnh sửa sản phẩm</a></li>
            <li><a routerLink="/admin/edit-products" routerLinkActive="active-link-child">- Thêm mới sản phẩm</a></li>
          </ul>
        </div>
      </li>

      <!-- <li routerLink="/admin/sales-analytics" routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa fa-pie-chart"></i><a>Thống kê dữ liệu</a>
        </div>
      </li> -->
    </ul>
</div>