.container {
    color: white;
}
.confirmation-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;            
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.confirmation-container h1 {
  font-family: "Oswald", sans-serif;
  padding-bottom: 10px;
  text-align: center;
}

.confirmation-container p {
  font-size: 18px;
  text-align: center;
}

.product-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: white;
    margin-right: 10px;
}

table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;    
    background-color: rgb(12, 13, 54);    
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  margin-top: 10px;
}

th,
td {
    padding: 10px;
    text-align: center;
}
.btn-gradient {
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
    color: white;
    border-radius: 30px;
    width: 200px;
}

.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nav.nav-tabs {
  margin-top: -30px; /* Adjust the value as needed */
}

.nav-item {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: white;
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(101, 102, 172);
  font-size: 16px;
}

.nav-item.active .nav-link {
  background-color: #007bff;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-item.active .nav-link::before {
  background-color: #007bff;
}

.nav-link:hover::before {
  background-color: #007bff;
}



.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.confirm-btn {
  margin-right: 10px;
}

.cancel-btn {
  margin-right: 10px;
}

.styled-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.styled-checkbox:checked {
  background-color: #2196F3;
  border-color: #2196F3;
}

.styled-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.styled-checkbox:checked:after {
  display: block;
}

.styled-checkbox:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

// Edit history components  order-products from customers
table {
  width: 100%;
  border-radius: 15px;
}

table thead tr div {
  border-radius: 15px;
}

table thead tr div::click {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}



.text-start-first {
  font-size: 18px;
  width: 30%;
  text-align: left;
  padding-left: 15px;
}

.text-start-second {
  font-size: 18px;
  width: 30%;
  text-align: center;
}

.text-start-third {
  font-size: 18px;
  width: 30%;
  text-align: right;
  padding-right: 15px;
}

table tbody div {
  margin-top: 20px;
}

table tbody div h2 {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

table tbody div p {
  font-size: 18px;
  margin-left: 35px;
}

.buttons-container {
  margin-right: 20px;
}

table tbody div span {
  color: orange;
  font-weight: bold;
  font-size: 16px;
}

tbody h2 {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

tbody table {
  width: 95%;
  margin-left: 25px;
}

tbody table tr th {
  padding: 0 20px;
  font-size: 16px;
}
 
tr td img {
  margin-left: 6px;
}

tfoot tr td h4 {
  margin: 10px 20px 10px 10px;
}






.dashboard {
  display: flex;
  margin-top: 20px;
}


.twinkle{
  animation: slide-in 0.5s ease-in-out, fade-in 0.5s ease-in-out;
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


// Responsive
// Mobile & tablet: width < 1024px
// @media only screen and (max-width: 63.9375em) {

// }

// Mobile: width < 768px
// @media only screen and (max-width: 46.1875em) {
// .dashboard {
//   height: 104vh;
//   margin-top: 0px;
//   position: relative;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   width: 100%;
// }

// .dashboard-sidebar {
//   width: 100% !important;
//   height: 172px !important;
//   position: absolute;
//   top: 0px !important;
//   margin-top: 0px!important;
//   z-index: 10;
//   border-top-left-radius: 20px;
//   border-bottom-left-radius: 20px;
// }

// .dashboard-sidebar ul {
//   text-align: center;
// }

// .dashboard-sidebar ul li {
//   font-size: 20px !important;
//   font-weight: bold;
//   text-align: center;
// }

// .dashboard-sidebar ul li a {
//   font-size: 18px!important;
//   margin-bottom: 40px!important;
// }

// // .container {
// //   position: inherit;
// // }

// // .confirmation .container {
// //   position: absolute;
// //   top: 176px !important;
// //   left: 2%;
// //   width: 96%;
// //   z-index: 10;
// // }

// // .row {
// //   position: relative;
// //   top: 0;
// //   left: 0;
// //   z-index: 10;
// //   width: 100%;
// //   display: none;
// // }

// // table {
// //   position: absolute;
// //   top: 0;
// //   left: 2%;
// //   z-index: 100;
// //   width: 96%;
// // }

// }

// Table: width >= 768px and width < 1024px
// @media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
// .dashboard-sidebar {
//   width: 204px!important;
// }

// .dashboard {
//   height: 77vh;
// }

// .container {
//   width: 500px;
// }

// .dashboard-sidebar li:hover { 
//   display: none;
// }
// }