<app-header></app-header>

<div class="edit-overall">
<div class="dashboard">
    <app-admin-dashboard></app-admin-dashboard>
    <div class="container twinkle">
        <div class="confirmation-container">
            <h1>Quản lý các đơn hàng</h1>
            <p>Dưới đây là thông tin chi tiết về các đơn hàng của khách hàng</p>     
        </div>
        <div *ngIf="getCancelledOrder.length > 0">
            <th><input type="checkbox" onClick="toggle(this)" (click)="toggleAllCheckboxes()" id="checkAll" class="styled-checkbox"></th>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item" routerLink="/admin/order-confirm/pending" routerLinkActive="active" >
            <a class="nav-link" >Đang xử lý</a>
            </li>
            <li class="nav-item" routerLink="/admin/order-confirm/shipping" routerLinkActive="active">
            <a class="nav-link">Đang vận chuyển</a>
            </li>
            <li class="nav-item" routerLink="/admin/order-confirm/delivered" routerLinkActive="active">
            <a class="nav-link">Đã giao hàng</a>
            </li>
            <li class="nav-item" routerLink="/admin/order-confirm/cancelled" routerLinkActive="active">
            <a class="nav-link">Hủy đơn hàng</a>
            </li>
        </ul>
        
        <div class="row twinkle" style="padding-left: 30px;"  *ngFor="let order of getOrder">
            <div class="mt-2"></div>
            <th scope="col" class="text-start" *ngIf="order.status === 'Đã hủy'">
                <input type="checkbox" id="checkbox_{{order.id}}" 
                name="foo" [value]="order.id" class="styled-checkbox"
                (change)="toggleSelection(order.id)">
            </th>
            <div class="col-md-11">
            <table >
                <thead>
                    <tr (click)="toggleBodyAndFooter(order.id)" style="cursor: pointer;">
                        <div style="background-color: rgb(101, 102, 172)">
                            <th scope="col" class="text-start-first">Đơn hàng có Order ID: {{order.id}}</th>
                            <th scope="col" class="text-start-second">Ngày đặt hàng: {{order.orderDate}}</th>
                            <th scope="col" class="text-start-third">Ngày giao hàng: {{order.shippingDate}}</th>
                        </div>
                    </tr>
                </thead>
                <tbody *ngIf="selectedOrder === order.id">
                    <div style="color: white;">
                        <h2>Thông tin người nhận</h2>
                        <p><span>Tên người nhận:</span> {{order.fullName}}</p>
                        <p><span>Email:</span> {{order.email}}</p>
                        <p><span>Số điện thoại:</span> {{order.phoneNumber}}</p>
                        <p><span>Địa chỉ:</span> {{order.address}}</p>
                        <p><span>Ghi chú:</span> {{order.note}}</p>
                        <p><span>Phương thức thanh toán:</span> {{order.paymentMethod}}</p>
                        <p><span>Phương thức vận chuyển:</span> {{order.shippingMethod}}</p>
                        <p><span>Tình trạng hiện tại:</span> {{order.status}}</p>
                        <div class="buttons-container">
                            <button class="btn btn-gradient confirm-btn" *ngIf="order.status === 'Đang xử lý'" (click)="confirmOrder(order.id, 'Đang vận chuyển')">Xác nhận đơn hàng</button>
                            <button class="btn btn-gradient cancel-btn" *ngIf="order.status === 'Đang xử lý'" (click)="confirmOrder(order.id, 'Đã hủy')">Hủy đơn hàng</button>
                            <button class="btn btn-gradient confirm-btn" *ngIf="order.status === 'Đang vận chuyển'" (click)="confirmOrder(order.id, 'Đã giao hàng')">Đã giao hàng</button>
                        </div>        
                    </div>
                    <hr>
                    <h2>Sản phẩm đã đặt hàng</h2>
                    <table>
                    <tr>
                        <th scope="col" class="text-start">Sản phẩm</th>
                        <th scope="col">Size</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Tổng giá</th>
                    </tr>
                    <tr *ngFor="let orderDetail of order.orderDetails">
                        <td>
                            <div class="product-info" (click)="onProductClick(orderDetail.product.id)">
                                <img [src]="orderDetail.product.thumbnail" alt="Product Image" class="product-image">
                                <span class="product-name">{{orderDetail.product.name}}</span>
                            </div>
                        </td>
                        <td>{{orderDetail.size}}</td>
                        <td>{{orderDetail.numberOfProducts}}</td>
                        <td>${{orderDetail.productPrice | number:'1.2-2'}}</td>
                        <td>${{orderDetail.productPrice * orderDetail.numberOfProducts | number:'1.2-2'}}</td>
                    </tr>
                </table>
                </tbody>
                <tfoot *ngIf="selectedOrder === order.id">
                    <tr>
                        <td colspan="4" class="text-end">
                            <h4 class="header-text">Tổng Đơn Hàng: ${{order.totalMoney | number:'1.2-2'}}</h4>
                        </td>
                    </tr>
                </tfoot>
            </table>  
        </div>
        </div>    
        <div class="button-container" *ngIf="getCancelledOrder.length > 0">
            <button class="btn btn-gradient" type="button" (click)="deleteSelectedOrders()">Xóa đơn hàng</button>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
